<!DOCTYPE html>
<html>
<head>
    <title>CNC Speed Calculator</title>
    <%- include('includes/base/styles') %>
</head>
<body>
<%- include('includes/base/navbar')%>
<div class="container mt-4 text-white">
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <%- include('includes/index/settings'); -%>
        </div>
    </div>
    <div class="row mb-4 mt-lg-2">
        <div class="col-12 col-lg-6 mt-3">
            <%- include('includes/index/calculated'); -%>
        </div>
        <div class="col-12 col-lg-6 mt-3">
            <%- include('includes/index/constants'); -%>
        </div>
    </div>
</div>


</body>
<script src="/js/bootstrap.min.js"></script>
<script>
    let preset_cut = '<%- JSON.stringify(preset_cut) %>';
    let preset_step_down_factor = '<%- JSON.stringify(step_down_factor) %>';
</script>
<script src="/js/index.js"></script>
</html>
