<table class="table table-bordered table-dark table-striped table-hover text-center align-middle mt-3 mb-0">
    <thead class="">
    <tr>
        <th colspan="2"></th>
        <th colspan="7"><%= __('Feed By Tooth (By tool diameter)') %></th>
        <th rowspan="2"></th>
    </tr>
    <tr>
        <th scope="col"><%= __('Name') %></th>
        <th scope="col"><%= __('Cut Speed') %></th>
        <th scope="col"><%= __('∅ ≥ 1mm') %></th>
        <th scope="col"><%= __('∅ ≥ 2mm') %></th>
        <th scope="col"><%= __('∅ ≥ 3mm') %></th>
        <th scope="col"><%= __('∅ ≥ 4mm') %></th>
        <th scope="col"><%= __('∅ ≥ 5mm') %></th>
        <th scope="col"><%= __('∅ ≥ 6mm') %></th>
        <th scope="col"><%= __('∅ ≥ 8mm') %></th>

    </tr>
    </thead>
    <tbody>
    <% preset_cut.forEach(function (preset){ %>
        <tr>
            <td><%= preset.name %></td>
            <td><%= preset.cut_speed %></td>
            <td><%= preset.feed_by_tooth_more_1 %></td>
            <td><%= preset.feed_by_tooth_more_2 %></td>
            <td><%= preset.feed_by_tooth_more_3 %></td>
            <td><%= preset.feed_by_tooth_more_4 %></td>
            <td><%= preset.feed_by_tooth_more_5 %></td>
            <td><%= preset.feed_by_tooth_more_6 %></td>
            <td><%= preset.feed_by_tooth_more_8 %></td>
            <td><a href="/preset-manager/preset-cut/<%= preset.id %>" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a></td>
        </tr>

    <% }) %>
    </tbody>
</table>